# DataFrame Analysis Exercise

**Import the `bestsellers.csv` dataset and use it to answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Review score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

**Answers to the questions above:**

- The lowest User Rating in the DF equals to `3.3`
- The highest Price in the DF is `105`
- The average User Rating is `4.61`
- The average User Rating of the first 5 rows stands for `4.7`
- It is `4.8`. This User Review Score appeared `127` times in the DF
- The sum of all values in the Reviews column equals to `6574305`
- `248` different authors are featured in the DF
- `Jeff Kinney` is the most fruitful aithor in this DF. He wrote `12` books

In [2]:
import pandas as pd

In [5]:
t1 = pd.read_csv('data/bestsellers.csv')
t1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [18]:
# 'min' in object columns stands for A-Z order,
# not for frequency of a particular object appearance

t1.min()

Name           10-Day Green Smoothie Cleanse
Author                      Abraham Verghese
User Rating                              3.3
Reviews                                   37
Price                                      0
Year                                    2009
Genre                                Fiction
dtype: object

In [21]:
t1.max()

Name           You Are a Badass: How to Stop Doubting Your Gr...
Author                                              Zhi Gang Sha
User Rating                                                  4.9
Reviews                                                    87841
Price                                                        105
Year                                                        2019
Genre                                                Non Fiction
dtype: object

In [6]:
t1.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

In [24]:
t1.head(5).describe()

       User Rating       Reviews      Price         Year
count     5.000000      5.000000   5.000000     5.000000
mean      4.700000  13494.000000  12.600000  2016.200000
std       0.070711   8257.352269   6.308724     3.114482
min       4.600000   2052.000000   6.000000  2011.000000
25%       4.700000   7665.000000   8.000000  2016.000000
50%       4.700000  17350.000000  12.000000  2017.000000
75%       4.700000  18979.000000  15.000000  2018.000000
max       4.800000  21424.000000  22.000000  2019.000000

In [14]:
t1['User Rating'].value_counts()

User Rating
4.8    127
4.7    108
4.6    105
4.5     60
4.9     52
4.4     38
4.3     25
4.0     14
4.2      8
4.1      6
3.9      3
3.8      2
3.6      1
3.3      1
Name: count, dtype: int64

In [27]:
# Mode function gives us the most common value
# for each column (similarly to value_counts)

t1.mode().head(1)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,Publication Manual of the American Psychologic...,Jeff Kinney,4.8,8580.0,8.0,2009,Non Fiction

In [16]:
t1['Reviews'].sum()

6574305

In [17]:
# Instead of writing 'object', simple 
# 'O' (capital letter) may be used

t1.describe(include = 'object')

,Name,Author,Genre
count,550,550,550
unique,351,248,2
top,Publication Manual of the American Psychologic...,Jeff Kinney,Non Fiction
freq,10,12,310

# More useful info from the course:

In [43]:
houses = pd.read_csv('data/kc_house_data.csv')
houses.sum(numeric_only = True)

id               9.899406e+13
price            1.167293e+10
bedrooms         7.285400e+04
bathrooms        4.570625e+04
sqft_living      4.495287e+07
sqft_lot         3.265069e+08
floors           3.229650e+04
waterfront       1.630000e+02
view             5.064000e+03
condition        7.368800e+04
grade            1.654880e+05
sqft_above       3.865249e+07
sqft_basement    6.300385e+06
yr_built         4.259933e+07
yr_renovated     1.824186e+06
zipcode          2.119759e+09
lat              1.027915e+06
long            -2.641409e+06
sqft_living15    4.293536e+07
sqft_lot15       2.759646e+08
dtype: float64

In [30]:
# In case you want to see usual numeric format
# instead of scientific, simply execute scientific
# numbers in a separate cell of code

1.167293e+10

11672930000.0

In [37]:
import statistics as st

# Mean is the total sum of the numbers 
# divided by the number of the numbers

numbers = [10,10,20,30,40]
st.mean(numbers)

22

In [38]:
# Mode is the most frequent value from an array

st.mode(numbers)

10

In [40]:
# Median is a value that stands 
# right in the centre of an array

st.median(numbers)

20